body{
    background-color: #f3f3f3;
}

header{
    background-color: #fff;
}

#navbarNav{
    justify-content: end; 
    font-weight: bold;
}

#search-filter{
    padding-right: 132px;
}

#logo-image{
    border-radius: 40px;
}

#nav-home{
    padding-right: 3vh;
}

#nav-profile{
    padding-right: 15vh;
}

#dropdown-profile{
    align-items: center;
}

.profile-image img{
    border-radius: 40vh;
}

.profile-name{
    padding-left: 10px;
}

#dropdown-setting .material-symbols-outlined{
    vertical-align: text-bottom;
}

#dropdown-setting p{
    margin: 0px 5px
}

button:active{
    background-color: red;
}

/* DIVIDER */
.solid{
    border-top: 3px solid #bbb; 
    margin-top: 3px; 
    margin-bottom: 0px;
}

.sponsor-section .solid, .friend-section .solid{
    border-top: 3px solid #bbb; 
    margin-top: 3px; 
    margin-bottom: 6px;
}

/* MIXED CONTENT */
.left-content, .main-content, .right-content{
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.left-content:hover, .main-content:hover, .right-content:hover{
    background-color: red;
    cursor: pointer;
}

.left-sub:hover, .mid-sub:hover, .right-sub:hover{
    cursor: pointer;
    background-color: red;
}

.left-content .col h6, .right-content .col h6{
    padding-left: 10px;
}

.user-image:hover, .other-user-image:hover{
    cursor: pointer;
}

/* Left Content */
.left-content .col-2 .material-symbols-outlined{
    font-size: xx-large;
    vertical-align: text-top;
}

.left-col-shortcut{
    padding: 5px 0px; 
    height: 40vh;
}

.user-image, .other-user-image{
    border-radius: 20px;
}

.copyright p{
    margin: 0;
}

/* Mid Content */
.mid-content{
    width: 80%;
    margin:auto;
}

/* CREATE POST */
#create-post-trigger img{
    border-radius: 40vh;
}

.trigger-form{
    align-self: center; 
    margin-left: 12px; 
    background-color: #f3f3f3; 
    width: 100%; 
    height: 34px;
    border-radius: 12px;
}

.trigger-form:hover{
    background-color: grey;
    cursor: pointer;
}

.bottom, .recent-bottom{
    padding: 5px 0px
}

.create-post{
    background-color: #fff;
    border-radius:10px; 
    margin-bottom: 20px;
}

.left-sub, .mid-sub, .right-sub{
    justify-content: center; 
    margin: 5px 10px;
    align-items: center;
}

#btn-video h6, #btn-image, #btn-activity{
    align-self: center;
}

/* RECENT POST */
.recent-post-section{
    max-height: 65vh;
    overflow-y:scroll;
}

.recent-post{
    background-color: #fff;
    border-radius:10px; 
    margin-bottom: 20px;
}

#recent-post-header{
    padding: 7px 12px;
}

.recent-profile{
    align-self: center; padding:0px 10px
}

.recent-profile .other-user-name, .user-name{
    margin-bottom:0px
}

.recent-profile #recent-post-date{
    margin-bottom:0px; font-size: small;
}

.recent-bottom .row, .bottom .row{
    margin: 0;
}

#like-count{
    font-size:small
}

.form-create-comment{
    padding: 5px 10px;
}

#form-create-comment img{
    border-radius: 40vh;
}

.comment-post textarea{
    width:100%; 
    border-radius: 10px; 
    padding: 0px 10px;
}

/* Right Col */
#right-col{
    padding-left: 5vh;
}

/* Mixed Random Col */
.col h6{
    margin-bottom: 0;
}

.left-content .col h6{
    padding-left: 10px;
}

.col-2{
    text-align: center;
}

.col-2 img{
    border-radius: 20px;
}

/* Left Col Profile */
#left-col{
    width: 20%;
}

/* Comment Profile */
.comment-post{
    width: 100%; 
    padding:5px 10px; 
    align-self: center; 
    margin:3px 0px;
}

.main-home{
    padding: 10px 20px;
    margin: 0;
}

#create-post-trigger{
    padding: 7px 12px;
}

.trigger-form h6{
    padding: 6px 10px;
}

.left-sub .trigger-form h6, .mid-sub .trigger-form h6, .right-sub .trigger-form h6{
    font-size: smaller;
}

/* [id^=user-name]{
    text-transform: capitalize;
} */

.text-muted{
    font-size: smaller;
}

#create-post-content, #create-post-modal-comment{
    width: -webkit-fill-available;
    max-height: 50vh;
}

@media screen and (max-width: 1100px) {
    header{
        height: 100%;
    }
    #search-filter{
        padding-right:0;
    }
    #right-col{
        display: none;
    }
    #left-col{
        width: 30%;
    }
    #mid-col{
        width: 70%;
    }
    .row>*{
        padding: 0;
    }
    
}

@media screen and (max-width:860px){
    .left-sub, .mid-sub, .right-sub{
        font-size: larger;
        align-items: center;
    }

    h6{
        font-size: small;
    }
    p{
        font-size: smaller;
    }
}
@media screen and (max-width:588px){
    #left-col{
        display: none;
    }
    #mid-col{
        width: 100%;
    }
    h6{
        font-size: small;
    }
    p{
        font-size: smaller;
    }
    .comment-post{
        padding: 0;
        padding-left: 5px;
    }

    button{
        font-size: small;
    }

    #comment-image{
        width: 30px;
        height: 30px;
    }

    .main-home{
        padding: 10px 0px;
        margin: 0;
    }

    .trigger-form h6{
        padding: 8px 10px;
    }

    .create-post-content textarea{
        margin-top: 5px;
    }

    .recent-post-section{
        height: 100%;
        overflow-y: none;
    }
}



/* CREATE POST */
.create-post-input{
    display: none;
    background-color: grey;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 10px;
    text-align: center;
}

/* .main-home, header{
    filter: blur(8px);
    -webkit-filter: blur(8px);
} */